
/* Imposto media query per sistemare il comportamento delle icone social */

.socia-icon {
    max-width:100%;
}

.social-media-grid {
    justify-content: flex-start;
    flex-grow: 1;
    }



@media screen and (min-width:768px) {
    .social-icon {
        max-width: 150px;
    }

    .social-media-grid {
        justify-content: center;
        flex-grow: 0;
    }

}
/* Ingrandisco logo games banner da md*/

.logo-returnal {
    width: 200px;
}

/* questa parte non mi viene la vedo con Samuel 

.logo-it-takes-two {
     width: 200px;
}
*/

@media screen and (min-width:768px) {
    .logo-returnal {
        width:350px;

}

/* questa parte non mi viene la vedo con Samuel 

    .logo-it-takes-two {
     width:300px;
     aspect-ratio: auto;
    
} */

}