/* Variabili */

/* uso due utility classes e sovrascrivo il colore */

:root {

    --bs-primary: #2A5FD9;
    --bs-warning: #CD3D10;
    --bs-body-font-family: Arial, Helvetica;
    --bs-btn-color: #000;
}

/* ======== UTILITIES ====== */


/* Buttons*/

/* btn games-carousel */
.btn-hero {
    color: #fff;
    background-color: #CD3D10;
    border-color: #CD3D10;
}


.search-btn {
    height: 25px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 5px;
    ;
}

.btn-service-banner-ps-plus {
    background-color: #D9DADC;
    color: var(--bs-primary);
    font-size: 12px;
}

.btn-service-banner-ps-plus:hover {
    color: #fff;
}


.btn-service-banner-ps-now {
    background-color: #F5F5F5;
    color: black;
    font-size: 12px;
}

.hero-game-card-btn {
    font-weight: bold;
    font-size: 12px;
}

/*Cards*/

.hero-game-card {

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    min-height: 60vh;
}

/*Banners*/

.service-banner.ps-plus {
    background-color: #BEBCBB;
    color: #1A1A1A;
    min-height: 40vh;
}

.service-banner.ps-now {
    background-color: #161C3B;
    color: #fff;
    min-height: 40vh;
}


.service-banner p {
    font-size: 12px;
}



/* =============================== */


/* Navbar */

.ps-logo {
    height:50px;
}


/* Cambiare chevron */

.navbar .dropdown-toggle::after {
    /* 1. Reset: rimuoviamo la freccia triangolare di Bootstrap */
    display: inline-block;
    content: "";
    border: none;      /* <--- IMPORTANTE: questo toglie la vecchia freccia */
    vertical-align: middle;
    width: 0.8em;
    height: 0.8em;
    margin-left: 0.5rem;

    /* 2. inserisco nuova icona SVG */
    background-image: url('../img/chevron-down-solid.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

    /* 3. Animazione */
    transition: transform 0.2s ease-in-out;
}

/* Rotazione quando il menu è aperto */
/* Nota: Bootstrap 5.3 a volte mette .show sul link stesso, controlliamo entrambi */
.dropdown.show .dropdown-toggle::after,
.dropdown-toggle.show::after {
    transform: rotate(180deg);
}

/*=== Cambiare chevron in stato hover ===*/

.navbar .dropdown-toggle:hover::after {
    /* 1. Reset: rimuoviamo la freccia triangolare di Bootstrap */
    display: inline-block;
    content: "";
    border: none;      /* <--- IMPORTANTE: questo toglie la vecchia freccia */
    vertical-align: middle;
    width: 0.8em;
    height: 0.8em;
    margin-left: 0.5rem;

    /* 2. inserisco nuova icona SVG */
    background-image: url('../img/chevron-down-solid-hover.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

    /* 3. Animazione */
    transition: transform 0.2s ease-in-out;
}

/* Rotazione quando il menu è aperto */
/* Nota: Bootstrap 5.3 a volte mette .show sul link stesso, controlliamo entrambi */
.dropdown.show .dropdown-toggle:hover::after,
.dropdown-toggle.showhover::after {
    transform: rotate(180deg);
}

/*========================================*/

/*Le img di sfondo per i banner*/

.returnal-card {
    background-image: url(../img/jumbo-bg.png);
}

.it-takes-two-card {
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
}


/* Style immagini games-card */

.logo-returnal {
    height:70px;
}

.logo-it-takes-two {
    height:150px;
}

/* style immagini ps-services */

.logo-ps-plus {
    height:50px;
}

.logo-ps-now {
    height:50px;
}


/* section PS5 */


.headline {
    font-size: 12px;
}

/* Per gestire active e hover delle thumbnail nel carousel di PS5 */

.img-container-ps:active,
.img-container-ps:hover,
.img-container-ps:focus {
    --bs-text-opacity: 1;
    color: black !important;
    border-bottom: 2px solid var(--bs-primary);

}

.img-container-ps>img:active,
.img-container-ps>img:hover,
.img-container-ps>img:focus {
    opacity: 100% !important;
}

.game-card-square p {
    font-size: 0.8rem;

}

/* style banner services */

.banner-wrapper {
    min-height: 30vh;
}


/* Footer */

.footer {
    background-color: #00439C;
    color: #fff;
    font-size: 12px !important;

}

footer a {
    text-decoration: none;
    color: #fff;
}

/* Posityion world icon */

.country-selected {
    position: absolute;
}

.world-icon {
    width: 14px !important;
    position: relative;
    top: 5%;
    left: 5%;
    transform: translate(0, 15%);
}


img.sony-logo {
    max-width: 90px;
}

.ps-logo-white {
    max-width: 85px;
}